@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

/* 
  font-family: "Bricolage Grotesque", serif;
  font-family: "Schibsted Grotesk", serif;
*/

* {
  transition: padding 1s;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #212121;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}
